body {
  margin: 0;
  background: black;
}

.start-screen-container, .end-screen-container {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.start-screen-container {
  background: black url("images/bg-start.jpg") center/cover no-repeat fixed;
}

.start-screen, .end-screen {
  background-color: rgba(30, 30, 30, 0.65);
  text-align: center;
  width: 20em;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

ul li p {
  margin: 0;
}

.movement-key {
  border: 1px solid white;
  padding: .25em;
}

button {
  font-size: 1.3rem;
  font-family: inherit;
  background-color: black;
  color: white;
  padding: .35em;
  border: none;
  cursor: pointer;
}

.end-screen button:hover {
  background-color: gray;
}
