@import-normalize;

body {
  margin: 0;
  background: black;
}

.start-screen-container {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.start-screen-container {
  background: black url("images/bg-start.jpg") center/cover no-repeat fixed;
}

.start-screen {
  text-align: center;
  width: 20em;
  padding: 1em;
}

.start-screen {
  background-color: rgba(30, 30, 30, 0.65);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3em;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

ul li p {
  margin: 0;
}

.movement-key {
  border: 1px solid white;
  padding: .25em;
}

button {
  font-size: 1.3rem;
  font-family: inherit;
  background-color: black;
  color: white;
  padding: .35em;
  border: none;
  cursor: pointer;
}


/* || End screen */

.end-screen {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.end-screen button:hover {
  background-color: gray;
}

.end-screen ol {
  max-height: 40vh;
  overflow-y: auto;
  margin: 0 auto;
  padding: 0;
  padding-right: 1em;
  width: 40em;
}

.end-screen li {
  display: flex;
  padding-bottom: .5em;
}

.end-screen span.score {
  margin-left: auto;
}

.graph-container {
  min-height: 100vh;
  background: black url("images/bg-game.jpg") center/cover no-repeat fixed;
}